body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

h1{
    font-size: 48px;
    font-weight: 900;
}

.navbar{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.header{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

#signup{
    background-color: #3882f6;
    color: white;
    font-size: medium;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    border: none;
}

.hero{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    padding: 50px 150px;
}

.hero-text{
    width: 500px;
}

.image{
    padding-left: 70px;
}

.image img{
    border: 1px solid #f9faf8;
}

.random-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

}

.card-heading h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-cards{
    display: flex;
}

.small-cards{
    width: 200px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-image{
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.small-cards img{
    width: 180px;
    height: 180px;
}

.small-cards p{
    color: #1F2937;
    text-align: center;
    padding: 0 20px;
}

.quote-section{
    background-color: #e5e7eb;
    padding: 80px;
}

.quote{
    padding: 0 200px;
}

.quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.quote-author{
    font-size: 22px;
    color: black;
    font-weight: bold;
    text-align: right;
}

.action{
    background-color: white;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #3882f6;
    color: #e5e7eb;
    width: 900px;
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

.card-text{
    width: 550px;
    padding-left: 50px;
}

#signup2{
    height: 40px;
    width: 110px;
    font-size: medium;
    font-weight: 500;
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 7px;
    margin-left: 150px;
}

.footer{
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px;
}